<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697695739842-6448gjkie7hug5ee1thppe4qg2vsoj76.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697695739842-6448gjkie7hug5ee1thppe4qg2vsoj76</string>
	<key>API_KEY</key>
	<string>AIzaSyAeLJgYxL92sj4zNYU_ePIZgZj1EG449-A</string>
	<key>GCM_SENDER_ID</key>
	<string>697695739842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.portfolioApp</string>
	<key>PROJECT_ID</key>
	<string>myportfolio-1a73b</string>
	<key>STORAGE_BUCKET</key>
	<string>myportfolio-1a73b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697695739842:ios:a3830988e9a9af6d0e405b</string>
</dict>
</plist>